#usage.section
	h2 usage
	ol
		li
			h3 Import css file
			pre
				code.html
					| #{new String(`<link rel="stylesheet" href=PATH_OF_CSS_FILE />`)}
			b Note: dont forget to replace the #[i PATH_OF_CSS_FILE] with a real path of the css file
		li
			h3 Use css classes
			pre
				code.html.
					#{new String(`<div class="row">`)}
						#{new String(`<div class="grid md-6-and-up">`)}
							#{new String(`size 6 columns in medium screens & up`)}
						#{new String(`</div>`)}
						#{new String(`<div class="grid md-6-and-up">`)}
							#{new String(`size 6 columns in medium screens & up`)}
						#{new String(`</div>`)}
					#{new String(`</div>`)}
