-var loremText = "Lorem ipsum dolor sit amet, consectet."

mixin grid(col = 8, sm = 6, md = 4, lg = 3, xl = 2)
	.row
		-var i = 1
		while i <= col
			-i++
			div(class=`grid-${sm}-sm grid-${md}-md grid-${lg}-lg grid-${xl}-xl`)
				.box #{loremText}

//- a mixin for documentation
mixin gridDocs(col = 8, sm = 6, md = 4, lg = 3, xl = 2)
		-var i = 1
		-
			var myDiv = `<div class="grid-${sm}-sm grid-${md}-md grid-${lg}-lg grid-${xl}-xl">...</div>`
		pre
			code.html
				| &lt;div class="row"&gt;
				while i <= col
					-i++
					='\n\t'
					| #{myDiv}
				='\n'
				| &lt;/div&gt;
